<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
  <h1>Доставка еды</h1>
  <nav>
    <ul>
      <li><a routerLink="/menu">Меню</a></li>
      <li><a routerLink="/pizza">Пицца</a></li>
      <li><a routerLink="/napitki">Напитки</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>







