:host {
  display: block; /* Позволяет элементу занимать всю доступную ширину */
  width: 100vw; /* Ширина на весь экран */
  height: 100vh; /* Высота на весь экран */
  overflow: auto; /* Позволяет прокручивать содержимое, если оно превышает высоту */
}
.cart {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
}

.cart img {
  width: 30px; /* Размер иконки */
  height: 30px; /* Размер иконки */
  margin-right: 10px;
}

.count {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
  border-radius: 5px; /* Закругленные углы */
  padding: 2px 5px; /* Отступы внутри счетчика */
  color: white; /* Цвет текста счетчика */
}
.pizza {
  color: #21930e;
  text-align: center;
  padding: 30px;
  height: auto; /* Позволяет элементу корректировать высоту */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  font-size: 29px;
}

.pizza-items {
  display: flex; /* Размещаем элементы в строку */
  justify-content: center; /* Центрируем элементы по горизонтали */
  flex-wrap: wrap; /* Позволяем элементам оборачиваться */
}

.pizza-item {
  margin: 20px; /* Отступы между элементами */
  /* Убираем белый фон */
  background-color: transparent; /* Прозрачный фон */
  border: none; /* Убираем рамку */
  width: 220px; /* Ширина элемента */
  height: auto; /* Автоматическая высота */
  position: relative; /* Для использования counter-wrapper */
}

.pizza-item img {
  width: 100%; /* Ширина изображения под размер элемента */
  height: auto; /* Автоматическая высота */
  border-radius: 5px; /* Закругленные углы изображения */
}

.price {
  color: #21930e;
  font-size: 28px; /* Размер шрифта для цены */
  font-weight: bold; /* Полужирный шрифт */
  margin: 10px 0; /* Отступы сверху и снизу */
}

.order-button {
  background-color: gray; /* Цвет кнопки */
  color: white; /* Цвет текста */
  border: none;
  padding: 10px 15px; /* Отступы кнопки */
  border-radius: 5px; /* Закругленные углы */
  cursor: pointer;
  font-size: 16px; /* Размер текста кнопки */
}

.order-button:hover {
  background-color: darkgray; /* Цвет кнопки при наведении */
}


