<h2>Наши напитки</h2>
<div class="napitki">
  <h2>Напитки</h2>
  <div class="napitki-items">
    <div class="napitki-item">
      <img src="/kola.png" alt="Кока Кола">
      <h3>Кока Кола</h3>
      <p class="price">99 ₽</p>
      <button class="order-button">Заказать</button>
    </div>
    <div class="napitki-item">
      <img src="/mirinda.webp" alt="Миринда">
      <h3>Миринда</h3>
      <p class="price">99 ₽</p>
      <button class="order-button">Заказать</button>
    </div>
    <div class="napitki-item">
      <img src="/sprite.jpg" alt="Спрайт">
      <h3>Спрайт</h3>
      <p class="price">99 ₽</p>
      <button class="order-button">Заказать</button>
    </div>
  </div>
</div>
<a routerLink="/menu">← Назад в меню</a>
